/* Global colors */
$primary-color: #744bfc;
$secondary-color: #fff;

/* Global font family */
$global-font-family: "Poppins", sans-serif;

/* Breakpoint variables */
$sm-breakpoint: 600px;
$md-breakpoint: 900px;
$lg-breakpoint: 1200px;
